alembic==1.4.2
aniso8601==6.0.0
astroid==2.2.5
atomicwrites==1.4.0
attrs==19.3.0
autopep8==1.5.3
awscli==1.18.93
Babel==2.8.0
bandit==1.6.2
beautifulsoup4==4.6.3
botocore==1.17.16
certifi==2018.11.29
chardet==3.0.4
Click==7.0
colorama==0.4.3
docutils==0.15.2
EasyProcess==0.2.3
ecdsa==0.13.2
ExpediaCrawler==1.0
Flask==1.0.2
Flask-Cors==3.0.7
Flask-Migrate==2.5.3
Flask-Moment==0.10.0
Flask-RESTful==0.3.7
Flask-Script==2.0.6
Flask-SQLAlchemy==2.4.0
Flask-WTF==0.14.3
future==0.17.1
gitdb==4.0.5
GitPython==3.1.2
gunicorn==20.0.4
idna==2.7
importlib-metadata==1.7.0
isort==4.3.18
itsdangerous==1.1.0
Jinja2==2.10.1
jmespath==0.10.0
lazy-object-proxy==1.4.0
lxml==4.2.5
Mako==1.1.3
MarkupSafe==1.1.1
mccabe==0.6.1
more-itertools==8.4.0
mysql-connector-python==8.0.15
packaging==20.4
pbr==5.4.5
pipenv==2018.11.26
pluggy==0.13.1
psycopg2==2.8.5
psycopg2-binary==2.8.2
py==1.9.0
pyasn1==0.4.8
pycodestyle==2.6.0
pycryptodome==3.9.8
PyJWT==1.7.1
pylint==2.3.1
pyparsing==2.4.7
pytest==5.4.3
python-dateutil==2.6.0
python-editor==1.0.4
python-jose==3.1.0
pytz==2019.1
PyVirtualDisplay==0.2.1
PyYAML==5.3.1
requests==2.20.1
rsa==3.4.2
s3transfer==0.3.3
selenium==3.141.0
six==1.12.0
smmap==3.0.4
SQLAlchemy==1.3.4
stevedore==1.32.0
toml==0.10.1
typed-ast==1.3.5
urllib3==1.24.1
virtualenv==16.1.0
virtualenv-clone==0.4.0
wcwidth==0.2.5
Werkzeug==0.15.2
wrapt==1.11.1
WTForms==2.3.1
xvfbwrapper==0.2.9
zipp==3.1.0
